{% extends "master.html" %}
{% load static %}
{% block section %}
<a href="/write">[데이터입력]</a>
<hr>
<h2>데이터 목록</h2>
<table border="1" class="dtable">
    <thead>
    <tr>
        <th width="50">번호</th>
        <th width="300">문자열</th>
        <th width="100">숫자</th>
        <th width="300">작성일시</th>
        <th width="300">수정일시</th>
        <th width="80">삭제</th>
    </tr>
    </thead>
    <tbody>
        {% for item in dList %}
        <tr>
            <td>{{item.id}}</td>
            {# query parameter #}
            {# <td><a href="update?id={{item.id}}">{{item.str_data}}</a></td> #}
            {# path parameter #}
            <td><a href="{% url 'update' id=item.id %}">{{item.str_data}}</a></td>
            <td>{{item.int_data}}</td>
            <td>{{item.reg_data|date:'Y년 n월 j일'}}</td>
            <td>{{item.upd_data}}</td>
            <td><a href="{% url 'delete' id=item.id %}">[삭제]</a></td>
        </tr>
        {% empty %}
        <tr><td colspan="5">데이터가 없습니다.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}