{% extends "master.html" %}
{% load static %}
{% block section %}
<h2>데이터 수정</h2>
<hr>
<div>
    <form method="post" class="i-form">
        {% csrf_token %}
        {% comment %} 
        {{form}}
        {% endcomment %}
        <div>
            <label>문자열</label>
            {{ form.str_data }}
        </div>
        <div>
            <label>숫자</label>
            {{ form.int_data }}
        </div>
        <input type="submit" value="Send">
    </form>
</div>
{% endblock %}