.wrap {
    width: 900px;
    margin: 0 auto;
}
.dtable {
    margin: 0 auto;
}
.wrap>div {
    font-size: 1.5em;
    width: 500px;
    border: 1px solid;
    margin: 0 auto;
    margin-top: 50px;
}
.i-form {
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.i-form>div {
    display: flex;
    justify-content: space-between;
}
.i-form>div>input {
    width: 300px;
}
input[type="submit"] {
    font-size: 1.1em;
}